body {
  margin: 0;
  background-color: rgb(229, 229, 214);
}

/* Navigation bar */

.logo {
  height: 8rem;
}
.logo-text {
  font-family: Luckiest guy;
  font-size: 3rem;
  margin-left: 1vw;
  text-decoration: none;
}

.site-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 3rem;
}
.nav-left {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.nav-right {
  list-style: none;
  display: flex;
  gap: 4rem;
  margin: 0;
  padding: 0;
  padding-right: 3rem;
  font-family: "Montserrat", sans-serif;
}
.site-nav a {
  text-decoration: none;
  color: black;
}

.shop-button {
  text-decoration: none;
  background-color: yellow;
}
/* Navigation breaking-point */
@media (max-width: 1000px) {
  .site-nav {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .nav-right {
    justify-content: center;
    gap: 2rem;
    padding-right: 0;
  }
}
/* Landing page */

.hero-section {
  position: relative;
}
.hero {
  width: 100%;
  display: block;
}
.shop-button {
  position: absolute;
  bottom: 10%;
  left: 60%;
  background-color: #f4c542;
  color: black;
  font-family: "Montserrat", sans-serif;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  border: 0.08rem solid black;
  text-decoration: none;
  filter: drop-shadow(0 0.4rem 4px #000000);
  transition: background-color 0.4s ease;
}

.shop-button:hover {
  background-color: #d5ad3d;
}

/* Product page */
.skatedeck {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  padding: 2rem;
}

/* Breaking-points for products */
@media (min-width: 700px) {
  .skatedeck {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1000px) {
  .skatedeck {
    grid-template-columns: repeat(4, 1fr);
  }
}

.product-card {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: black;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;

  background: white;
  border: 0.1rem solid rgb(73, 82, 92);
  border-radius: 0.5rem;
  padding: 1.5rem;
  filter: drop-shadow(0 0.2rem 3px #000000);
}

.product-card img {
  width: 100%;
  height: auto;
  display: block;
}

.product-name {
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}

.product-price {
  margin: 0;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
}

/* Specific product */
.product-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  max-width: 1100px;
  margin: 2rem auto;
  padding: 0 2rem;
  align-items: start;
}

.product-image,
.product-details {
  background: white;
  border: 0.1rem solid #49525c;
  border-radius: 8px;
  padding: 1.5rem;
  filter: drop-shadow(0 0.2rem 3px #000000);
}

.product-image img {
  width: 100%;
  height: auto;
  display: block;
}

.product-details {
  font-family: "Montserrat", sans-serif;
}
.price {
  font-weight: 700;
}
.controls {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.quantity {
  display: flex;
  border: 1px solid black;
  border-radius: 8px;
  overflow: hidden;
}
.quantity button {
  background: #f4c542;
  border: 0;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.quantity span {
  padding: 1rem;
  font-weight: 700;
}
.add-cart {
  background: #f4c542;
  border: 1px solid black;
  border-radius: 8px;
  padding: 0.7rem 1.2rem;
  cursor: pointer;
}

/* Checkout site */
.cart-page {
  max-width: 500px;
  margin: 3rem auto;
  text-align: center;
}

#cart-item {
  max-width: 300px;
  margin: 0 auto;
}

#remove-button {
  display: block;
  margin: 1.5rem auto;
  background: #f4c542;
  border: 1px solid black;
  border-radius: 8px;
  padding: 0.7rem 1.2rem;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}

/* Breakpoints */
